.cardSection {
    width: 580px;
    margin: 0 auto;
    margin-bottom: 30px;
    
    border: 5px solid black;
    border-radius: 25px;

    overflow: hidden;
}

.cardWrapper {

    max-width: 580px;
    padding: 20px 15px 15px;
     
    
}

.imgAvatar {

    width: 200px;
    height:200px;
    margin: 0 auto;
    margin-bottom: 30px;
    border-radius: 100%;

    background-color: black;
  
}

.cardName {

    font-size: 35px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.cardText {

    font-size: 25px;
    color: var(--accent);
    text-align: center;
    margin-bottom: 20px;

}

.cardList {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #C0C0C0;

    border-top: 5px solid var(--accent);
}

.cardItem {
    width: 100%;  
    display: block;
    padding: 15px 15px;
}

.cardItem:not(:last-child) {

    border-right: 5px solid var(--accent);
}



.itemsText {

    display: block;
    text-align: center;
    font-size: 25px;
    
    
}

.itemsData {

    display: block;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
   
}

