.tableContainer {
    max-width: 700px;
    margin: 0 auto;
    border: 2px solid black;
}

.tableFlex {

    
}

.tTable {
    background-color: black;
    color: white;
}

.trTable {

    
}

.bodyTable {

    
}